<h1>User info</h1>

<%= form_with model: @user url: update_list_path(@user.id), method: :patch do |f| %>

  <h2>Name</h2>
  <%= f.text_field :title %>
  
<h2>Image</h2>
<% if @user.image.attached? %>
  <%= image_tag @user.image %>
<% else %>
  <%= image_tag 'no_image' %>
<% end %>

  <h3>Introduction</h3>
  <%= f.text_area :body %>
  
  <%= f.submit 'Update User' %>
  
<% end %>

