<%= render 'book', {books: @books, book: @book}%>

<h1>Books</h1>

<% @books.each do |book| %>
  <div>
    <%= image_tag book.user.get_image(100,100) %>
    <p><%= link_to 'no_image.jpg', user_path(book.user.id) %></p>
    <p>Title<%= link_to book.title, book_path(book.id) %></p> 
    <p>Opinion<%= book.body %></p>
   
    
  </div>
<% end %>