<%= render 'books/book', books: @books %>


<h1>Book detail</h1>

<div>
  <%= link_to user_path(@user.id) do %>
    <%= image_tag @user.get_image(100,100)%>
  <% end %>
     <p>Name<%= link_to @book.user.name, user_path(@user.id) %></p>
        <p>Title<%= link_to @book.title, books_path(@user.id) %></p>
          <p>Opinion<%= @book.body %></p>
           <p><%= link_to 'Edit', edit_book_path(@book.id) %></p>
            <p><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => 'Are you sure？' %></p>
</div>

